body {
  user-select: none;
  -webkit-user-select: none;
}

.board {
  border: 1px solid black;
  display: inline-block;
}

.board .row {
  line-height: 0;
}

.black-checker,
.red-checker {
    border-radius: 50px;
    cursor: pointer;
    position: absolute;
    height: 70px;
    width: 70px;
}

.black-checker {
    background: black;
    border: 1px solid black;
}

.black-checker.kinged,
.red-checker.kinged {
    background: url("crown.png");
    background-repeat: no-repeat;
    background-size: 123%;
    background-position-y: 40%;
}

.black-checker.kinged {
    background-color: black;
}

.red-checker {
    background: #A00;
    border: 1px solid black;
}

.red-checker.kinged {
    background-color: #A00;
}

.highlight {
  box-shadow: 10px 10px 20px;
  height: 85px;
  width: 85px;
}

.black-square,
.red-square {
    border: 2px solid black;
    display: inline-block;
    height: 80px;
    width: 80px;
    margin: 0;
}

.black-square {
    background: #555;
}

.red-square {
    background: #E22;
}

.spare-black {
  left: 710px;
  top: 123px;
}

.spare-red {
  left: 810px;
  top: 123px;
}

.blackhole {
  display: inline-block;
  background: url("supermassive_black_hole.jpg");
  background-size:  200px 200px;
  border: 1px solid black;
  box-shadow: 30px 30px 100px;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 700px;
  top: 242px;
}

.info {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px;
  font-family: Arial;
  font-size: 12px;
  padding: 10px;
  position: absolute;
  left: 700px;
  top: 15px;
}
